<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="footer(scripts)">
    <!-- Optional JavaScript -->
    <script th:src="@{/static/common/config.js}"></script>
    <script th:src="@{/static/common/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/common/md5.min.js}"></script>
    <script th:src="@{/static/common/common.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.bundle.js}"></script>
    <th:block th:replace="${scripts}"/>
</th:block>
</body>
</html>