<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header::header(~{::title},~{::link},~{})">
    <title>控制台</title>
    <link rel="stylesheet" th:href="@{/static/css/console.css}">
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">DEMO</a>
    <!-- 折叠导航栏 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- 左边 -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="nav-text">欢迎您<span th:text="${user.roleName}"></span>！</div>
            </li>
        </ul>
        <!-- 右边 -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span th:text="${user.username}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 内容 -->
<div class="container-fluid below-nav-bar row">
    <!-- 左侧导航 -->
    <div class="col-2" id="leftNav">
    </div>
    <!-- 右侧内容 -->
    <div class="tab-content col-10">
        <div class="tab-pane fade show active">
            <div class="container-fluid row">
                <ul class="nav nav-tabs col-10">
                    <li class="nav-item">
                        <a th:if="${page.shownTab>=1}"
                           th:class="${tab==1}?'nav-link active':'nav-link'" href="javascript:onTabClick(1);">角色表</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${page.shownTab>=2}"
                           th:class="${tab==2}?'nav-link active':'nav-link'" href="javascript:onTabClick(2);">权限表</a>
                    </li>
                </ul>
                <div class="col-2">
                    <button type="button" class="btn btn-primary px-4 float-right"
                            data-toggle="modal"
                            data-target="#actionModal"
                            th:attr="data-tab=${tab},data-action=2"
                            th:if="${page.shownAction>=2}">新建
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col" th:if="${tab==1}">角色名</th>
                        <th scope="col" th:if="${tab==2}">角色ID</th>
                        <th scope="col" th:if="${tab==2}">角色名称</th>
                        <th scope="col" th:if="${tab==2}">权限标识</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,state:${dataList}">
                        <th scope="row" th:text="${state.index+1}"></th>
                        <td th:text="${item.id}"></td>
                        <td th:if="${tab==1}" th:text="${item.name}"></td>
                        <td th:if="${tab==2}" th:text="${item.roleId}"></td>
                        <td th:if="${tab==2}" th:text="${item.roleName}"></td>
                        <td th:if="${tab==2}" th:text="${item.permissionIdentity}"></td>
                        <td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <button th:if="${tab==1&&page.shownAction>=4&&state.index>0}" type="button"
                                    class="btn btn-outline-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:attr="data-tab=${tab},data-action=4,data-id=${item.id},data-name=${item.name}">编辑
                            </button>
                            <button th:if="${tab==2&&page.shownAction>=4&&item.permissionIdentity!=1048575}" type="button"
                                    class="btn btn-outline-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:attr="data-tab=${tab},data-action=4,data-id=${item.id},data-roleid=${item.roleId},data-permissionidentity=${item.permissionIdentity}">
                                编辑
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:attr="data-tab=${tab},data-action=8,data-id=${item.id}"
                                    th:if="${page.shownAction>=8&&(tab==1?state.index>0:item.permissionIdentity!=1048575)}">删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 弹窗 -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<input id="shownMenu" type="text" th:value="${page.shownMenu}" hidden="hidden"/>
<input id="tableList" type="text" th:value="${tableList}" hidden="hidden"/>
<input id="roleList" type="text" th:value="${roleList}" hidden="hidden"/>
<!-- 底部 -->
<div th:replace="_footer::footer(~{::script})">
    <script th:src="@{/static/js/console_auth.js}"></script>
</div>
</body>
</html>