<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_header::header(~{::title},~{::link},~{})">
    <title>控制台</title>
    <link rel="stylesheet" th:href="@{/static/css/console.css}">
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">DEMO</a>
    <!-- 折叠导航栏 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- 左边 -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="nav-text">欢迎您<span th:text="${user.role.name}"></span>！</div>
            </li>
        </ul>
        <!-- 右边 -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <span th:text="${user.username}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">退出登录</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 内容 -->
<div class="container-fluid below-nav-bar row">
    <!-- 左侧导航 -->
    <div class="col-2" id="leftNav">
    </div>
    <!-- 右侧内容 -->
    <div class="tab-content col-10">
        <div class="tab-pane fade show active">
            <div class="container-fluid row">
                <ul class="nav nav-tabs col-10">
                    <li class="nav-item">
                        <a th:class="${tab==1}?'nav-link active':'nav-link'" href="javascript:onTabClick(1);">用户账号表</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${tab==2}?'nav-link active':'nav-link'" href="javascript:onTabClick(2);">用户信息表</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${tab==3}?'nav-link active':'nav-link'" href="javascript:onTabClick(3);">部门信息表</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${tab==4}?'nav-link active':'nav-link'" href="javascript:onTabClick(4);">职位信息表</a>
                    </li>
                </ul>
                <div class="col-2">
                    <button type="button" class="btn btn-primary px-4 float-right"
                            data-toggle="modal"
                            data-target="#actionModal"
                            th:attr="data-tab=${tab},data-action=0">新建
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col" th:if="${tab==1}">用户名</th>
                        <th scope="col" th:if="${tab==1}">密码</th>
                        <th scope="col" th:if="${tab==1}">角色ID</th>
                        <th scope="col" th:if="${tab==2}">姓名</th>
                        <th scope="col" th:if="${tab==2}">性别</th>
                        <th scope="col" th:if="${tab==2}">出生日期</th>
                        <th scope="col" th:if="${tab==2}">教育程度</th>
                        <th scope="col" th:if="${tab==2}">职位ID</th>
                        <th scope="col" th:if="${tab==2}">部门ID</th>
                        <th scope="col" th:if="${tab==2}">入职日期</th>
                        <th scope="col" th:if="${tab==3}">部门名称</th>
                        <th scope="col" th:if="${tab==4}">职位名称</th>
                        <th scope="col" th:if="${tab==1||tab==3||tab==4}">创建时间</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,state:${dataList}">
                        <th scope="row" th:text="${state.index+1}"></th>
                        <td th:text="${item.id}"></td>
                        <td th:if="${tab==1}" th:text="${item.username}"></td>
                        <td th:if="${tab==1}" th:text="${item.password}"></td>
                        <td th:if="${tab==1}" th:text="${item.roleId}"></td>
                        <td th:if="${tab==2}" th:text="${item.realName}"></td>
                        <td th:if="${tab==2}" th:text="${item.gender}"></td>
                        <td th:if="${tab==2}" th:text="${#dates.format(item.birthday,'yyyy-MM-dd')}"></td>
                        <td th:if="${tab==2}" th:text="${item.educationLevel}"></td>
                        <td th:if="${tab==2}" th:text="${item.jobId}"></td>
                        <td th:if="${tab==2}" th:text="${item.departmentId}"></td>
                        <td th:if="${tab==2}" th:text="${#dates.format(item.importTime,'yyyy-MM-dd')}"></td>
                        <td th:if="${tab==3||tab==4}" th:text="${item.name}"></td>
                        <td th:if="${tab==1||tab==3||tab==4}"
                            th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:if="${tab==1}"
                                    th:attr="data-tab=${tab},data-action=1,data-id=${item.id},data-username=${item.username},
                                    data-password=${item.password},data-roleid=${item.roleId}">编辑
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:if="${tab==2}"
                                    th:attr="data-tab=${tab},data-action=1,data-id=${item.id},data-userid=${item.userId},data-realname=${item.realName},
                                    data-gender=${item.gender},data-birthday=${item.birthday},data-educationLevel=${item.educationLevel},
                                    data-jobid=${item.jobId},data-departmentid=${item.departmentId}">
                                编辑
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:if="${tab==3||tab==4}"
                                    th:attr="data-tab=${tab},data-action=1,data-id=${item.id},data-name=${item.name}">编辑
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm"
                                    data-toggle="modal"
                                    data-target="#actionModal"
                                    th:attr="data-tab=${tab},data-action=2,data-id=${item.id}">删除
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 弹窗 -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
<div th:replace="_footer::footer(~{::script})">
    <script th:src="@{/static/js/console_profile.js}"></script>
</div>
</body>
</html>